.resumeContainer {
    display: flex;
    justify-content: center;
    background: url('../../img/bg2.jpg')center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite;
}

.resumeMainContainer {
    display: grid;
    width: 80%;
    justify-content: center;
}

.resumeSubContainer {
    display: grid;
    grid-template-columns: min-content 2fr;
    grid-template-rows: min-content repeat(4, min-content);
}

.resumeHeading {
    text-transform: capitalize;
    grid-column: 1 / max-content;
    grid-row: 1;
    justify-self: center;
    padding: 7rem 0 4rem 0;
    position: relative;
    font-size: 4rem;
    background: linear-gradient(-45deg, rgb(94, 94, 94)20%, rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: white 1rem;

}

.resumeBox1 {
    grid-column: 1;
    grid-row: 2 ;
}

.resumeBox2 {
    grid-column: 1 ;
    grid-row: 3;
}

.resumeBox3 {
    grid-column: 1;
    grid-row: 4;
}

.resumeBox4 {
    grid-column: 1;
    grid-row: 5;
}

.resumeTitleHeading{
    padding-top: 2rem;
    background: linear-gradient(-45deg, rgb(94, 94, 94)20%, rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resumeBox1, .resumeBox2, .resumeBox3, .resumeBox4{
    padding-left: 2rem;
}

.resumeBoxD1, .resumeBoxD2, .resumeBoxD3, .resumeBoxD4{
    margin: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3rem;
    transition: .3s ease-in-out;
}
.resumeBoxD1:hover,.resumeBoxD2:hover,.resumeBoxD3:hover,.resumeBoxD4:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    box-shadow: .3rem .3rem 10px 5px rgba(148, 148, 148, 0.8);
    animation: glowing 2s infinite;
}

.resumeBoxD1 {
    grid-column: 2;
    grid-row: 2 ;
}

.resumeBoxD2 {
    grid-column: 2;
    grid-row: 3;
}

.resumeBoxD3 {
    grid-column: 2;
    grid-row: 4;
}

.resumeBoxD4 {
    grid-column: 2;
    grid-row: 5;
}

.resumeTitle1,.resumeTitle2,.resumeTitle3, .skillTitle {
    position: sticky;
    top: 0;
}

.resumeDes1, .resumeDes2, .resumeDes3, .resumeDes4{
    padding-bottom: 2rem;
}

.des1{
    text-align: center;
}

.des2{
    text-align: center;
}
