.homeMainContainer{
    display: grid;
    background: url('../../img/darkwood.jpg') top;
    background-size: contain; 
    background-attachment: fixed ;
    /* width: 100%; */
    height: 100vh;
    align-items: center!important;
    justify-content: center!important;
    flex-direction: row!important;
    padding: 60px 0;
    overflow: hidden;
}
.homeContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.homeName {
    display: flex;
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.homeDescription{
    display: flex;
    margin: 0 0 10px 0;
    font-size: 55px;
    font-weight: 300;
    line-height: 70px;
    color: #fff;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

