*,
::after,
::before {
    margin: 0;
    padding: 0;
}

.navContainer{
    display: grid;
}

.navMainContainer {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0; 
    width: 20%; 
    width: 14rem;
    height: 100vh;
    z-index: 2;
    padding: 0 15px;
    background: linear-gradient(-45deg, #00e1ff ,#003949, #ffffff, #000000, #001920);
	background-size: 270% 400%;
	animation: gradient 7s ease-in-out infinite;
    transition: all .1s ease-in-out;
}
.navMainContainer:hover{
    transform: scale(1.03);
    transition: all .1s ease-in-out;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.upperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.outerProfileCircle {
    display: flex;
    height: 110px;
    width: 110px;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.3),rgb(255, 255, 255));
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.innerProfileCircle img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0 -1rem;
    /* background-size: contain;
    background-position: 0 -1rem; */
    
}
.innerProfileCircle img{

}

.navNameContainer {}

.navName {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(rgba(184, 184, 184, 0.5), rgba(0, 0, 0,1));
    color: transparent;
    background-clip: text;
    text-decoration: overline .1rem rgba(184, 184, 184, 1);
}

.socailMediaContainer {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.socialMediaTag img{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0 10px;
}

.socialMediaTag img {
    border-radius: 100%;
}

.socialMediaTag img:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color 1s ease-in-out, border-color .15s ease-in-out;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    animation: glowing 2s infinite;
}

.navLinkContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.navLink {
    display: flex;
    margin-top: 2rem;
    margin-left: 4rem;
    text-align: center;
    color: rgb(73, 73, 73);
    transition: all .5s ease-in-out;
    border-radius: 1rem;
    width: 6rem;
    justify-content: center;

}

.navLink:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.8);
    transition: all .5s ease-in-out;
    animation: glowing 2s infinite;
}

/* @media (max-width: 1199px) {
    .navMainContainer {
      left: -300px;
    }
  
  } */