.portfolioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../img/bg5.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;position: relative;
}

.portfolioMainContainer {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, .1);
    height: 80%;
    width: 80%;
    border-radius: 10%;
    overflow-x: hidden;
    
}

.ph1{
    position: absolute;
    top: 1rem;
    left: 18.5rem;
    font-size: 3rem;
    background: linear-gradient(-45deg, rgba(39, 39, 39, 0.8),rgba(0,0,0,1), rgba(255, 183, 135,1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolioSlider {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
}

.portfolioSlider::-webkit-scrollbar{
    display: none;
}

.sliderChild {
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    /* overscroll-behavior-inline: contain;  */
}

.sliderChild img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    object-position: center;
    transition: .5s ease-in-out;
    
}

.sliderDes {
    font-size: 2rem;
    color: transparent;
    width: 30%;
    height: 20%;
    padding: 1rem;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7),rgba(250, 235, 215,1),rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    opacity: 0.05;
    position: absolute;
    bottom: 1rem;
    border-radius: 2rem;
    overflow-y: hidden;
}

.sliderDes h1{
    text-decoration: underline;
    color: antiquewhite;
}

.sliderDes p{
    padding-left: 1rem;
    color: black;
}

.sliderDes:hover{
    opacity: 1;
    color: antiquewhite;
    width: 90%;
}

.sliderRight, .sliderLeft{
    position: sticky;
    align-self: center;
    cursor: pointer;
    background: transparent;
    font-size: 2rem;
    color: azure;
}

.sliderIcon{
    transition: 1s ease-in-out;
    animation: glowing 5s infinite;
}

.sliderIcon:hover{
    box-shadow: 0 0 2rem rgb(255, 255, 255);
    border-radius: 100%;
    transition: .5s ease-in-out;
    animation: glowing 5s infinite;
    background-color: rgba(255, 255, 255, .5);
    color: black;
}